<!DOCTYPE html>
<html lang="en">

<div class="container">
  <h1>Tabela de Livros</h1>
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Category</td>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let b of books">
        <tr>
          <td>{{b.id}}</td>
          <td>{{b.title}}</td>
          <td>{{b.category}}</td>
        </tr>
      </ng-container>
      <!-- <tr>
      <td>1</td>
      <td>Monge e o Executivo</td>
      <td>Auto-ajuda</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Crônicas do Gelo e Fogo</td>
      <td>Contos</td>
    </tr> -->
    </tbody>
  </table>
</div>
