.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  margin: 5vw;
  border: 1px solid grey;
}

.home-item {
  font-size: 1.25rem;
  color: grey;
}
